Repository JDatPNW/TeamBappiTeam, pull requests merged in 2023-11, with the labels that each got.

#6 Readme
  README.md
  images/logo.png
  images/screenshot.png
Labels: documentation, enhancement

#7 UI prototype
  gui_prototype.py
Labels: enhancement, GUI

#10 Yt data acquisition
  .gitignore
  data_acquisition/README.md
  data_acquisition/yt.py
  data_acquisition/yt_input.txt
Labels: documentation, enhancement, data acquisition

#12 Data preprocessing and augmentation
  .gitignore
  data_acquisition/yt.py
  data_preprocessing_and_augmentation/README.md
  data_preprocessing_and_augmentation/data_mod.py
Labels: enhancement, data acquisition

#14 Downloderslicer jhs
  data_acquisition/README.md
  data_acquisition/webtoon_combiner.py
Labels: enhancement, data acquisition

#15 minor bug fixes in the parsers (types) and added try excepts in image…
  data_preprocessing_and_augmentation/data_mod.py
Labels: bug

#16 fixed same parser issues in yt.py
  data_acquisition/yt.py
Labels: bug

#17 Documentation requirements and readme
  README.md
  data_acquisition/README.md
  data_preprocessing_and_augmentation/README.md
  requirements.txt
Labels: documentation, enhancement
